@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Däckbytar nilssons däckbyte i Kalmar ab</h1>
    <p class="lead">Kom och byt däck, jag har en fin databas men den går inte att boka på för då kan jag inte ta förskott och försvinna till Thailand. Givetvis tar jag bara kontanter.</p>
    <p><a href="~/Reports/" class="btn btn-primary btn-lg">Rapporter &raquo;</a></p>
</div>

