@model IEnumerable<frontmiddleend.Models.AvailableSlots>

<h4>Tillgängliga tider för däckbyte</h4>

<table class="table">
    <tr>
        <th>
            <form asp-controller="Reports" asp-action="AvailableSlotsAction">
                <p>
                    Datum: <input type="text" name="dayChosen">
                    <input type="submit" value="Filter" />
                </p>
            </form>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SlotTime)
            </td>
        </tr>
    }
</table>
