@model  IEnumerable<frontmiddleend.Models.GetNumberOfSlotsToCountHours>

<h4>Antal bokningar på eller mellan datum</h4>

<table class="table">
    <tr>
        <th>
            <form asp-controller="Reports" asp-action="CountHoursBySlots">
                <p>
                    Mellan dessa två datum
                    <input type="datetime" name="dayOne">
                    <input type="datetime" name="dayTwo">
                    <input type="submit" value="Filter" />
                </p>
            </form>
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.totalt)
            </td>
        </tr>
    }

</table>
