
@{
    ViewBag.Title = "View";
}

<h2>Rapporter</h2>
<div class="col-md-4">
    @{ Html.RenderAction("AvailableSlotsAction");}
</div>
<div class="col-md-4">
    Test
</div>
<div class="col-md-4">
    Test2
</div>

